<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stelztech.youknowehv4">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activitypackage.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar"/>

        <activity
            android:name=".activitypackage.AppOpeningActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLaunch.NoActionBar"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitypackage.CardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitypackage.ArchivedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activitypackage.QuizActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".firsttimeopening.FirstTimeOpeningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" />

        <activity
            android:name=".activitypackage.MainActivityManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlue.NoActionBar" />

    </application>

</manifest>